PORT=5000

# Neon PostgreSQL Connection String
DATABASE_URL="postgresql://neondb_owner:npg_5TfYtIZFbwJ0@ep-little-dawn-azlrwbcm-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Clerk Authentication Keys (From Clerk Dashboard)
CLERK_PUBLISHABLE_KEY="pk_test_YmVjb21pbmcta2FuZ2Fyb28tMzcuY2xlcmsuYWNjb3VudHMuZGV2JA"
CLERK_SECRET_KEY="sk_test_8YomPpHzYqGkElUHAhJIs98QfTGefE5d4f96OiN3oW"

# AI Provider Keys
REPLICATE_API_TOKEN="r8_..."
FAL_KEY="fal_..."
OPENAI_API_KEY="sk-..."
